.third-block {
    background-color: white;
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
}

.top {
    padding: 17.9px 30px;
    border-bottom: 1px solid #808080;
}

.send {
    border: 1px solid #0093E9;
    border-radius: 50px;
    padding: 10px 0 10px 20px;
}