.fourth-block { 
    background-color: white;
    border-left: 1px solid #808080;
    padding: 0 5px !important;
}

.fourth-block .contact { width: 100%; }
.fourth-block .contact .avatar {
    width: 15vw;
    height: 15vw;
    margin: 0 auto;
}
.fourth-block .contact .name {
    text-align: center;
    margin-top: 25px;
    font-size: 2.5vw;
}

.fourth-block .connection { padding: 0 25px; }
.fourth-block .connection svg {
    font-size: 62px;
}