.fourth-block {
    background-color: white;
    border-left: 1px solid #808080;
    padding: 0 5px !important;
}

.fourth-block .contact {
    width: 100%;
}

.fourth-block .contact .avatar {
    width: 297px;
    height: 297px;
    margin: 0 auto;
}

.fourth-block .contact .name {
    text-align: center;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.fourth-block .connection {
    padding: 0 25px;
}

.fourth-block .connection svg {
    font-size: 62px;
}

.fourth-block {
    animation-duration: 0.5s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from { opacity: 0; }
    to { opacity: 1;}
  }