.contact-info {
    padding: 17.9px 30px;
    border-bottom: 1px solid #808080;
}
.contact-info .contact-info-left {
    flex-wrap: nowrap !important;
}

.contact-info .contact-avatar {
    width: 70px !important;
    height: 70px !important;
    margin-right: 25px;
}
.contact-info .contact-status {
    display: flex;
    align-items: center;
}

.contact-info .send-image input { display: none; }
.contact-info .send-image .contact-button {
    width: 36px !important;
    height: 36px !important;
    transform: rotate(45deg);
}