.contactInfo {
    padding: 17.9px 30px;
    border-bottom: 1px solid #808080;
}

.contactInfoLeft {
    flex-wrap: nowrap !important;
}

.contactAvatar {
    width: 70px !important;
    height: 70px !important;
    margin-right: 25px;
}

.contactStatus {
    display: flex;
    align-items: center;
}

.sendImage {
    text-align: center;
}

.sendImage input {
    display: none;
}

.contactButton {
    width: 36px !important;
    height: 36px !important;
    transform: rotate(45deg);
}