.fourth-block {
    background-color: white;
    border-left: 1px solid #808080;
}

.fourth-block .close-block {
    background-color: #f0f2f5;
    max-width: fit-content;
    width: 100%;
    height: 93px;
    border-bottom: 1px solid #808080;
    padding: 0 5px !important;
}
.fourth-block .close-block button {
    margin-right: 10px !important;
}

.fourth-block .contact {
    width: 100%;
}

.fourth-block .contact .avatar {
    width: calc(40px + 256 * ((100vw - 320px) / 1980));
    height: calc(40px + 256 * ((100vw - 320px) / 1980));
    margin: 0 auto;
}

.fourth-block .contact .name {
    text-align: center;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.fourth-block .connection {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.fourth-block .connection svg {
    font-size: calc(50px + 8 * ((100vw - 320px) / 1980));
}

.fourth-block .info {
    width: 100%;
    animation-duration: 0.5s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from { opacity: 0; }
    to { opacity: 1;}
  }

  .fourth-block .container-search-message {
    width: 100%;
  }

  .fourth-block .container-input {
    padding: 15px;
    border-bottom: 1px solid #808080;
  }

  @media (max-width: 1322px) {
    .fourth-block .connection {
        padding: 0 5px;
    }
  }
  @media (max-width: 1252px) {
    .avatar {
        width: 230px !important;
        height: 230px !important;
    }
    .connection svg {
        font-size: 62px !important;
    }

    .fourth-block .connection {
        max-width: 306px !important;
        margin: 0 auto;
    }
  }

  @media (max-width: 1030px) {
    .fourth-block {
        border-left: none;
    }
    .info {
        margin-top: 15vh !important;
    }
  }