.send { 
    flex-wrap: nowrap !important;
    padding: 0 30px 5px;
}
.sendInput {
    padding: 9px 12px 11px;
    padding-left: 20px;
    border: 1px solid #0093E9;
    border-right: 0;
    border-radius: 50px 0 0 50px;
    background-color: white;
}
.sendButton {
    margin-left: -40px !important;
    background-color: #0093E9 !important;
    width: 62px !important;
    height: 62px !important;
    border-radius: 30px;
}
.sendIcon {
    width: 36px !important;
    height: 36px !important;
    transform: rotate(-45deg);
    margin-left: 6px;
    margin-bottom: 5px;
    color: white;
}