.peoples {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 72px;
    padding: 3.1px 15px 0 15px;
    transition: 0.4s;
    cursor: pointer;
    user-select: none; 
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
}
.peoples:hover {
    transition: 0.4s;
    background-color: rgba(0, 147, 227, 0.4);
}