.contactInfo {
    background-color: #f0f2f5;
    padding: 5px 30px;
    border-bottom: 1px solid #808080;
}

.contactInfoLeft {
    flex-wrap: nowrap !important;
}

.contactAvatar {
    width: 70px !important;
    height: 70px !important;
    margin-right: 25px;
}

.contactInfoRight {
    overflow: hidden;
}
.contactInfoRight h6 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.contactStatus {
    display: flex;
    align-items: center;
}