.mobileFirstBlock {
    padding: 10px 0 20px 10px;
    min-height: 86px;
}
.search {
    background-color: white;
    margin-right: 10px !important;
}
.search, .search * {
    border-radius: 10px !important;
}
.settings {
    max-width: max-content !important;
}
.iconButton {
    width: 50px !important;
    height: 50px !important;
    padding: 0 !important;
}
.icon {
    color: white;
    width: 30px !important;
    height: 30px !important;
}